@import '../../common';

.timer-container {
	padding: 0 1em;
	text-align: center;
}

.timer-title {
	font-size: .75em;
	margin-bottom: .25em;
}

.timer-time {
	font-family: 'Orbitron', sans-serif;
	font-size: 2em;
	color: #03a87c;
}

.timer-icon {
	padding: .125em;
}

.timer-icon:hover {
	color: $nav-link-hover-color;
}

.timer-icon.disabled {
	color: $disabled-color;
}