@import '../../common';

.nav-bar {
	background-color: $nav-bg-color;
	color: $nav-text-color;
	padding: .25em 1em;
	justify-content: space-between;
}

.nav-bar > div {
	flex-basis: 30%;
}

.game-stats {
	justify-content: center;
	text-align: center;
}

button.nav-button {
	font-size: 1.325em;
	border-radius: .25em;
	margin: .425em;
	border: 0;
	background-color: #e0e0e0;
}

button.nav-button:hover {
	opacity: .875;
}

button.nav-button:focus {
	outline: 0;
}