@import '../../common';

.board-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card {
  box-shadow: 1px 1px 1px rgba(0,0,0,.25);
  -ms-flex-preferred-size: 19%;
      flex-basis: 19%;
  text-align: center;
  padding: 1em 1em;
  margin: .5em;
  border-radius: .25em;
  box-sizing: border-box;
  height: calc(calc(calc(100vh - 75px)/5) - 1em);
  -webkit-box-align: strech;
      -ms-flex-align: strech;
              -ms-grid-row-align: strech;
          align-items: strech;
  font-size: .5em;
}

.card-hidden {
  background-color: $hidden-color;
}
.card-hidden:hover {
  cursor: pointer;
  opacity: .5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}

.card-red {
  background-color: $red-color;
}
.card-blue {
  background-color: $blue-color;
}
.card-neutral {
  background-color: $neutral-color;
}
.card-black {
  background-color: $black-color;
}

@media screen and (min-width: 768px) {
  .card {
    font-size: .75em;
  }
}

@media screen and (min-width: 1024px) {
  .card {
    font-size: 1em;
  }
}

.cardText-container {
  border-radius: .25em;
  border: 1px solid rgba(0,0,0, .125);
}
.cardText {
  background-color: #fff;
  padding: .125em;
  font-weight: bold;
  font-size: 1.5em;
}

@media screen and (min-width: 768px) {
  .cardText {
    font-size: 1em;
  }
}