@import '../../common';

.nav-bar {
	background-color: $nav-bg-color;
	color: $nav-text-color;
	padding: .25em 1em;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	max-height: 75px;

	& > div {
		-ms-flex-preferred-size: 30%;
			flex-basis: 30%;
	}
}

.nav-button {
	font-size: 1.325em;
	border-radius: .25em;
	padding: 0 .125em;
	margin: .425em;
	border: 0;
	background-color: $button-bg-color;
	transform: scale(1);

	&:hover {
		background-color: $button-hover-color;
	}

	&:focus {
		outline: 0;
	}

	&:active {
		transform: scale(.95);
	}
}